.ci {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    width: 32px;
    scale: 0.9;
}

.ci-cog {
    background: url("./icons/Cog.svg");
}

.ci-linear-connection {
    background: url("./icons/LinearConnection.svg");
}

.ci-pointer {
    background: url("./icons/Pointer.svg");
}

.ci-rectilinear-connection {
    background: url("./icons/RectilinearConnection.svg");
}
