.ci {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    width: 32px;
    scale: 0.9;
}

.ci-cog {
    background: url("./icons/CogLight.svg");
}

.ci-linear-connection {
    background: url("./icons/LinearConnectionLight.svg");
}

.ci-pointer {
    background: url("./icons/Pointer.svg");
}

.ci-rectilinear-connection {
    background: url("./icons/RectilinearConnectionLight.svg");
}

.celldl-dark-mode .ci-cog {
    background: url("./icons/CogDark.svg");
}

.celldl-dark-mode .ci-linear-connection {
    background: url("./icons/LinearConnectionDark.svg");
}

.celldl-dark-mode .ci-rectilinear-connection {
    background: url("./icons/RectilinearConnectionDark.svg");
}
