/* Required for Vue 3.4, Primevue 4.2 */
:root,
:host {
  --p-tooltip-max-width: 12.5rem;
  --p-tooltip-gutter: 0.25rem;
  --p-tooltip-shadow: var(--p-overlay-popover-shadow);
  --p-tooltip-padding: 0.5rem 0.75rem;
  --p-tooltip-border-radius: var(--p-overlay-popover-border-radius);
  --p-tooltip-background: var(--p-surface-700);
  --p-tooltip-color: var(--p-surface-0);
}

@media (prefers-color-scheme:dark) {

  :root,
  :host {
    --p-tooltip-background: var(--p-surface-700);
    --p-tooltip-color: var(--p-surface-0);
  }
}
